body {
  background: #fefefe;
  color: #e46945;
  font-family: 'Rubik', sans-serif;
}
.title {
  font: 250px 'Indie Flower', cursive;
  letter-spacing: 40px;
  color: #242424;
  margin-left: 20px;
}
.definition {
  color: #e46945;
  font: 22px 'Rubik', sans-serif;
  letter-spacing: 3px;
  line-height: 35px;
  margin-left: 60px;
  display: block;
}
.list {
  color: #242424;
  font: 30px 'Rubik', sans-serif;
  letter-spacing: 5px;
  line-height: 60px;
  margin-left: 80px;
}
ul {
  list-style-type: square;
}
#word {
  background-color: #e46945;
  color: #fefefe;
  font: 25px 'Rubik', sans-serif;
}
#posts {

}
#recent {
  font: 20px 'Rubik', sans-serif;
  color: #242424;
  letter-spacing: 6px;
}
.content {
  font: 20px 'Rubik', sans-serif;
  color: #242424;
}
.post {
  border: 3px solid #e46945;
  width: 90%;
  height: 400px;
  padding: 15px;
  margin-bottom: 50px;
  font: 20px 'Rubik', sans-serif;
  color: #242424;
}
